@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@* This is my Index.cshtml page *@


<div class="text-center">
    <p>This movie...is bad</p>
    <p>The film industry through the lense of Joel Hilton</p>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>


