@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@*this is a comment*@

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="text-center">
    <p>This movie...is bad</p>
    <p>The film industry through the lense of Joel Hilton</p>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


